* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  background: url("../images/156901517770efba66d3d8d53194fb1a8446ae07fa.jpg")
    center / cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}

#search {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 6px 12px;
}

#search input {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
}

#search button {
  background: transparent;
  border: none;
  cursor: pointer;
}

#search i {
  color: #fff;
}

.weather_results .title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
  color: #fff;
}

.weather_results {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out, opacity 1.5s ease-in-out;
}

.weather_results.visible {
  visibility: visible;
  opacity: 1;
  height: 300px;
  overflow: visible;
}

.weather_results .informacoes .temp {
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 20px;

  color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 1px 1px #fff;
}

.weather_results img {
  width: 50px;
  height: 60px;
}

.weather_results .temp {
  color: #fff;
}

.temp_value {
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
}

.temp_description {
  text-transform: capitalize;
  font-style: italic;
  color: #bebebe;
}

.other_infos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  color: #fff;
}

.other_infos .info {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  gap: 10px;
}

.other_infos .info h2 {
  font-size: 12px;
  font-weight: 600;
}

.other_infos .info i {
  text-align: center;
  font-size: 20px;
  width: 20%;
}

.temp_max_icon {
  color: #ff0000;
}

.temp_min_icon {
  color: #0ea5e9;
}

.humidity_icon {
  color: #0284c7;
}

.wind_icon {
  color: #7c3aed;
}
