* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #141016;
}

.container {
  width: 90%;
  height: 90%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  position: relative;
  width: 40%;
  height: 100%;
  background: url("../images/a6a037e52a4620944ff2e2bfcf1a6f96.jpg") center /
    cover no-repeat;
  border-radius: 20px;
}

.image::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 20px;
  filter: blur(20px) opacity(1);
  z-index: -1;
}

.form_container {
  width: 40%;
  height: 100%;
  padding-top: 10%;
}

.form_container h1 {
  color: #fff;
  font-size: 3em;
  text-shadow: 2px 2px 20px rgb(113, 12, 12);
}

form {
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 50%;
}

form .input_data {
  width: calc(50% - 15px);
  position: relative;
}

form .input_data input {
  width: 100%;
  height: 50px;
  font-size: 14px;
  padding: 7px 10px;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  position: relative;
  z-index: 500;
  color: #fff;
}

form .input_data .label_area {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background-color: #141016;
  color: #ffffff;
  padding: 0 15px;
  transition: top 0.5s ease, left 0.5s ease;
}

form .input_data input:focus,
form .input_data input:valid {
  color: rgb(113, 12, 12);
  border-color: rgb(113, 12, 12);
}

form .input_data input:focus ~ .label_area,
form .input_data input:valid ~ .label_area {
  z-index: 600;
  top: 0;
  left: 7%;
  color: rgb(113, 12, 12);
}

form select,
form option {
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 10px;
  background: transparent;
  border: 2px solid rgb(113, 12, 12);

  color: rgb(113, 12, 12);
}

form button {
  width: 100%;
  background-color: rgb(113, 12, 12);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #141016;
}

form button:hover {
  background-color: rgb(113, 12, 12);
}
